In [38]:
#2021.06.17. THUR
#Hankyeong

#00. 패키지 호출
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV
import warnings

#00-1. warning message ignore
warnings.filterwarnings(action='ignore')

#01. 피마 인디언의 당뇨병 Decision Tree 모델로 예측하기. (하이퍼파라미터, 교차검증 미적용) 
#(1) 데이터셋 불러오기. 
indian = pd.read_csv('../Data/pima-indians-diabetes.csv')
indian

,Number_of_times_pregnant,Plasma_glucose_concentration_a_2_hours_in_an_oral_glucose_tolerance_test,Diastolic_blood_pressure,Triceps_skin_fold_thickness,Hour_serum_insulin,Body_mass_index,Diabetes_pedigree_function,Age,Diabetes_yn
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [10]:
#(2) 데이터셋 탐색하기.
indian.describe()

,Number_of_times_pregnant,Plasma_glucose_concentration_a_2_hours_in_an_oral_glucose_tolerance_test,Diastolic_blood_pressure,Triceps_skin_fold_thickness,Hour_serum_insulin,Body_mass_index,Diabetes_pedigree_function,Age,Diabetes_yn
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [14]:
#(3) 데이터셋 결측치 확인하기.
indian.isna().sum()

Number_of_times_pregnant                                                    0
Plasma_glucose_concentration_a_2_hours_in_an_oral_glucose_tolerance_test    0
Diastolic_blood_pressure                                                    0
Triceps_skin_fold_thickness                                                 0
Hour_serum_insulin                                                          0
Body_mass_index                                                             0
Diabetes_pedigree_function                                                  0
Age                                                                         0
Diabetes_yn                                                                 0
dtype: int64

In [24]:
#(4) train, test 데이터셋 나누기. 
X_train, X_test, y_train, y_test = train_test_split(
    indian.iloc[:,:-1], indian.iloc[:,-1], test_size = 0.2, random_state=2021, stratify= indian.iloc[:,-1]
)

In [28]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((614, 8), (614,), (154, 8), (154,))

In [31]:
#(5) Decision Tree 모델을 형성하고 학습하기.
dtc = DecisionTreeClassifier(random_state=2021)
dtc.fit(X_train, y_train)

DecisionTreeClassifier(random_state=2021)

In [32]:
#(6) 학습된 모델로 test 데이터셋을 가지고 예측하기. 
dtc_pred = dtc.predict(X_test)
dtc_pred

array([1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0],
      dtype=int64)

In [35]:
#(7) 예측값과 실제값을 비교해 모델 성능 평가하기. 
accuracy_score(y_test,dtc_pred)

0.7077922077922078

In [36]:
#02. 피마 인디언의 당뇨병 Decision Tree 모델로 예측하기. (하이퍼파라미터, 교차검증 적용)
#(1) 하이퍼 파라미터의 범위 설정하기. 
params = {
    'max_depth'         : range(1,11),
    'min_samples_split' : range(1,11)
}

In [44]:
#(2) GridSearchCV를 통해 모형 설정하기. 
dtc = DecisionTreeClassifier(random_state=2021)
grid_dtc = GridSearchCV(dtc, param_grid=params, cv=10)
grid_dtc.fit(X_train, y_train)

GridSearchCV(cv=10, estimator=DecisionTreeClassifier(random_state=2021),
             param_grid={'max_depth': range(1, 11),
                         'min_samples_split': range(1, 11)})

In [45]:
#(3) 최적 파라미터 확인하기. 
grid_dtc.best_params_

{'max_depth': 2, 'min_samples_split': 2}

In [46]:
#(4) 조정된 모델 중 최고 점수 파악하기. 
grid_dtc.best_score_

0.7542834479111582

In [51]:
#(5) test 데이터셋으로 당뇨병 여부 예측하기.
dtc_pred = grid_dtc.best_estimator_.predict(X_test)
dtc_pred

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
      dtype=int64)

In [50]:
#(6) 예측값과 test 데이터셋의 실제값을 비교해 accuracy를 기준으로 평가하기.
accuracy_score(y_test,dtc_pred)

0.7337662337662337