In [8]:
#2021.05.24 MON
#Hankyeong

#01. 조건문
#(1) 연도를 입력으로 받아 윤년인지 아닌지를 출력하는 프로그램을 작성하시오. 윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다.
#    예를들어, 2012년은 4의 배수라서 윤년이지만, 1900년은 4의 배수이지만, 100의 배수이기 때문에 윤년이 아니다. 하지만, 2000년은 400의 배수이기 때문에 윤년이다.)
input_value = int(input("only int: "))
if input_value%4==0 and input_value%100!=0    : 
       print(f'{input_value}년은 윤년입니다.')
elif input_value%100!=0                       :
       print(f'{input_value}년은 윤년이 아닙니다.') 
else                                          :
       print(f'{input_value}년은 윤년이 아닙니다.')

1900년은 윤년이 아닙니다.

In [10]:
#(2) 본인의 생일을 1998 12 15 과 같이 년 월 일로 입력받아, 오늘 날짜의 만 나이를 구하는 프로그램을 작성하시오.
from datetime import date
today=date.today()
input_value = input("only int: ").split()
today_md=today.month*100+today.day
birth_year=int(input_value[0])
birth_month=int(input_value[1])
birth_day=int(input_value[2])
birth_md=birth_month*100+birth_day
if birth_md >= today_md :
    age = today.year - birth_year -1
    print(f'만나이는 {age}세 입니다.')
else                    :
    age = today.year - birth_year  
    print(f'만나이는 {age}세 입니다.')

만나이는 820세 입니다.

In [13]:
#(3) 세 자연수 a, b, c 가 피타고라스 정리 a^2 + b^2 = c^2 를 만족하면 피타고라스 수라고 부른다. (여기서 a < b < c 이고 a + b > c)
#    예를 들면, 32 + 42 = 9 + 16 = 25 = 52 이므로 3, 4, 5는 피타고라스 수이다.  
#     a + b + c = 1000 인 피타고라스 수를 구하시오. (답은 한가지 뿐이다.)
for a in range(1,1001) :
    for b in range(a+1,1001) :
        c= 1000 - (a+b)
        if c > (a+b) :
            continue
        if c**2 == a**2+b**2 :
            print(a,b,c)
            break

200 375 425

In [12]:
for a in range(1, 333):
    for b in range(a+1, 500):
        c = 1000 - a - b
        if c > (a + b):
            continue
        if c*c == a*a + b*b:
            print(f'{a}, {b}, {c}')
            break

200, 375, 425

In [12]:
#02. 반복문
#(1) (별 그리기) 5이상 9 이하의 홀수를 입력받아 다이아몬드 형태의 별을 출력하는 프로그램을 작성하시오.

In [ ]:
#(2) 디지털 시계에 하루동안(00:00~23:59) 3이 표시되는 시간을 초로 환산하면 총 몇 초(second) 일까요?
#    (디지털 시계는 하루동안 다음과 같이 시:분(00:00~23:59)으로 표시됨.)
# 	 00:00 (60초간 표시)	
#    00:01 		
#      …	
# 	 23:59

In [ ]:
#(3) 1~1000에서 각 숫자의 개수를 구하시오.
#    예로 10 ~ 15 까지의 각 숫자의 개수를 구해보자.		
#    10 = 1, 0
# 	 11 = 1, 1	
# 	 12 = 1, 2	
# 	 13 = 1, 3	
# 	 14 = 1, 4
# 	 15 = 1, 5
#    그러므로 이 경우의 답은 0:1개, 1:7개, 2:1개, 3:1개, 4:1개, 5:1개

In [1]:
#(4) 자기 자신을 제외한 모든 양의 약수들의 합이 자기 자신이 되는 자연수를 완전수라고 한다.
#    예를 들면, 6과 28은 완전수이다.
# 	 6=1+2+3 *1,2,3은 각각 6의 약수
# 	 28=1+2+4+7+14 *1,2,4,7,14는 각각 28의 약수.
#    입력으로 자연수 N을 받고, 출력으로 N 이하의 모든 완전수를 출력하는 코드를 작성하시오.
input_value = int(input("type natural number over 2 :"))
for num in range(2,input_value+1) :
    sum=0
    for i in range(1,num)         :
        if num%i==0               :
            sum+= i    
    if sum == num                 :
        print(num)

6

In [ ]:
#(5) 1부터 10까지 자연수를 각각 제곱해 더하면 다음과 같다. (제곱의 합) 
#    1^2 + 2^2 + ... + 10^2 = 385 
#    1부터 10을 먼저 더한 다음에 그 결과를 제곱하면 다음과 같다. (합의 제곱)		
#    (1 + 2 + ... + 10)^2 = 552 = 3025
#    따라서 1부터 10까지 자연수에 대해 "합의 제곱"과 "제곱의 합"의 차이는 3025 - 385 = 2640 이 된다.
#    입력으로 자연수 N을 받아, 1부터 N까지 자연수에 대해 "합의 제곱"과 "제곱의 합"의 차이는 얼마인가?