In [6]:
#2021.05.21. FRI
#Hankyeong

#13. 여러 개의 입력값 처리
#(1) 원소를 리스트로 변환하기.
a="red green blue"
print(a)
a_split=a.split() #space바를 기준으로 짤라, 리스트로 변환
print(a_split)

red green blue
['red', 'green', 'blue']

In [9]:
b="red,green,blue"
print(b)
b_split=b.split(",") #,(comma)를 기준으로 잘라, 리스트로 변환
print(b_split)

red,green,blue
['red', 'green', 'blue']

In [11]:
#Q. 빛의 삼원색을 입력값으로 받아 이를 리스트로 변환하시오.
input_value = input("빛의 3원색을 띄어쓰기로 구분하여 입력하세요. :")
print(input_value)
input_list = input_value.split()
print(input_list)

blue red green
['blue', 'red', 'green']

In [2]:
#(2) map() 함수를 통해 리스트 내 원소 일렬로 함수 적용하기. = R의 sapply()
numbers = ["3.1","2.4","8.5"]
print(numbers)
real_number=list(map(float,numbers))
print(real_number)

['3.1', '2.4', '8.5']
[3.1, 2.4, 8.5]

In [3]:
#WHY? 왜 map함수 다음에는 list로 변환하는가?
print(map(float,numbers))

<map object at 0x000002CA536AF8E0>

In [4]:
#PLUS. map() 응용
x,y,z = list(map(float,input("띄어쓰기로 구분하여, 실수 3개를 입력하시오. :").split()))
print(x,y,z)

1.0 2.0 3.0

In [ ]:
#14. 자료형의 종류: range() = R의 seq()
#TIP. range()의 구조
#     range(첫값,끝값,증분)

In [5]:
#(1) 1에서 10까지 출력하기. 
print(list(range(1,10+1)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
#WHY? 왜 range() 다음에는 list로 변환하는가?
print(range(1,11))

range(1, 11)

In [7]:
#(2) 1에서 10까지 홀수만 출력하기.
print(list(range(1,11,2)))

[1, 3, 5, 7, 9]

In [8]:
#(3) 10에서 1까지 역으로, 짝수만 출력하기.
print(list(range(10,1,-2)))

[10, 8, 6, 4, 2]

In [11]:
#Q. 두개의 정수를 입력받아서, 첫 번째 값에서부터 두 번째 값까지 출력하시오. 단, 첫 번째 값이 두 번째 값보다 작습니다.
num=input("2개의 정수를 쉼표로 구분해 입력하세요. (단, 첫 번째 값 < 두 번째 값) :")
num_a,num_b=map(int,num.split(","))
print(list(range(num_a,num_b+1)))

[10, 11, 12, 13, 14, 15]