In [1]:
#2021.05.26 WED
#Hankyeong

##CH.07 자료구조
#01. 파이썬의 자료구조
#(1) 스택(Stack): LIFO(Last In, first Out) 
#①push() = append()
stack = [1,2,3]
stack.append(4)
print(stack)

[1, 2, 3, 4]

In [34]:
#②pop()
print(stack.pop())

4

In [33]:
print(stack)

[1, 2, 3, 4]

In [31]:
#PLUS. 입력한 문자를 거꾸로 출력하기.
input_value = input("Type Any Word.: ")
input_value_list = list(input_value.upper())
print(input_value_list)
result = []
for i in range(len(input_value)) :
    result.append(input_value_list.pop())
print(result)

['D', 'A', 'T', 'A', '_', 'A', 'N', 'A', 'L', 'Y', 'T', 'I', 'C', 'S', '_', 'W', 'I', 'T', 'H', '_', 'P', 'Y', 'T', 'H', 'O', 'N']
['N', 'O', 'H', 'T', 'Y', 'P', '_', 'H', 'T', 'I', 'W', '_', 'S', 'C', 'I', 'T', 'Y', 'L', 'A', 'N', 'A', '_', 'A', 'T', 'A', 'D']

In [38]:
#(2) 큐(Queue): FIFO(First In, First Out)
queue = [1,2,3]
print(queue.pop(0))

1

In [33]:
print(queue)

[2, 3]

In [29]:
#(3) 튜플(Tuple) : 원소(데이터)의 변경을 허용하지 않는 리스트, ()로 표현함.
tuple = (1,2,3)
print(tuple)

(1, 2, 3)

In [30]:
print(tuple.count(1))

1

In [43]:
tuple[0] = 4

TypeError: 'tuple' object does not support item assignment

In [47]:
#PLUS. 튜플은 sequence 자료형이므로, for문에서 사용가능함.
for i in tuple :
    print(i)

1
2
3

In [8]:
#(4) 세트(set) : 값을 순서없이 저장하면서 중복을 불허하는 자료형, {}로 표현함. = R의 unique() 함수 ?
#①set(), 세트 만들기.
set = set([1,2,3,1,2,3]) #리스트 안에서 set()함수로 정의
print(set)

{1, 2, 3}

In [2]:
#PLUS. 만약 list로 정의하지 않는다면?
set_2 = set(1,2,3)
print(set)

TypeError: 'set' object is not callable

In [9]:
#④add(), 원소 추가하기.
set.add(4)
print(set)

{1, 2, 3, 4}

In [10]:
#⑤update, 원소 여러개 추가하기.
set.update([5,6,7,8])
print(set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [11]:
#⑥remove(), discard(), 원소 삭제하기.
set.discard(3)
print(set)

{1, 2, 4, 5, 6, 7, 8}

In [12]:
#⑦clear(), 모든 원소 삭제하기. = 공집합으로 만들기.
set.clear()
print(set)

set()

In [4]:
set_3 = set(range(6))
set_4 = set(range(3,8+1))
print(set_3)
print(set_4)

{0, 1, 2, 3, 4, 5}
{3, 4, 5, 6, 7, 8}

In [5]:
#⑧union(), 합집합하기. or (|)
print(set_3.union(set_4))
print(set_3 | set_4)

{0, 1, 2, 3, 4, 5, 6, 7, 8}
{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [15]:
#⑨intersection(), 교집합하기. or (&)
print(set_3.intersection(set_4))
print(set_3 & set_4)

{3, 4, 5}
{3, 4, 5}

In [14]:
#⑩difference(), 차집합하기. or (-)
print(set_3.difference(set_4))
print(set_3 - set_4)

{0, 1, 2}
{0, 1, 2}

In [14]:
#(5) 딕셔너리(Dictionary) : Key와 Value 형태로 데이터를 저장하는 자료 구조, key는 다른 데이터의 중복을 허용하지 않음.
#①딕셔너리 만들기.
lux={'health':490,'mana':334,'melee':550,'armor':18.72}
print(lux)

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [27]:
#PLUS. 다른 방법으로 딕셔너리 만들기.
lux_2=dict([('health',490),('mana',334),('melee',550),('armor',18.72)])
print(lux_2)

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [26]:
#PLUS. 다른 방법으로 딕셔너리 만들기.
lux_3=dict(health=490, mana=334, melee=550, armor=18.72)
print(lux_3)

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [25]:
#PLUS. 다른방법으로 딕셔너리 만들기.
key_list=['health','mana','melee','armor']
value_list=[490,334,550,18.72]
lux_4=dict(zip(key_list,value_list))
print(lux_4)

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [27]:
#②딕셔너리 참조하기.
print(lux['health'])

490

In [29]:
#③딕셔너리 새로운 값 할당하기.
lux['health'] = 600
print(lux)

{'health': 600, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [30]:
#PLUS. 딕셔너리 값에 추가하기.
lux['mana'] += 100
print(lux)

{'health': 600, 'mana': 434, 'melee': 550, 'armor': 18.72}

In [24]:
#④딕셔너리에 새로운 key, value 추가하기.
lux['mana_regen'] = 3.28
print(lux)

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72, 'mana_regen': 3.28}

In [26]:
#⑤딕셔너리 key 삭제하기.
lux.pop['health']
print(lux)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [25]:
#PLUS. del 코드로 딕셔너리 key 삭제하기.
del lux['mana_regen']
print(lux)

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [21]:
#TIP. 딕셔너리의 key 값들을 가져오기.
print(lux.keys())

dict_keys(['health', 'mana', 'melee', 'armor'])

In [20]:
#TIP. 딕셔너리의 value 값들을 가져오기.
print(lux.values())

dict_values([490, 334, 550, 18.72])

In [19]:
#TIP. 딕셔너리의 key, value 값들을 튜플로 뭉쳐 가져오기. 
print(lux.items())

dict_items([('health', 490), ('mana', 334), ('melee', 550), ('armor', 18.72)])

In [22]:
#⑥딕셔너리로 반복문 활용하기.
for key, value in lux.items() :
    print(key,value)

health 490
mana 334
melee 550
armor 18.72

In [37]:
#OR 
for key in lux.keys() :
    print(key,lux[key])

health 490
mana 334
melee 550
armor 18.72

In [5]:
#⑦중첩 딕셔너리 만들기.
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}
terrestrial_planet['Earth'] #지구의 딕셔너리 아이템 출력

{'mean_radius': 6371.0, 'mass': 5.97219e+24, 'orbital_period': 365.25641}

In [6]:
terrestrial_planet['Earth']['orbital_period'] #지구의 공전주기(orbital_period) 출력

365.25641

In [ ]:
#PLUS. Python에서 데이터 분석에서 필요한 자료구조
#Numpy        : array
#Pandas       : Data Frame
#Python Basic : List, Dictionary, (tuple, set)

In [ ]:
#PLUS. 회사 내 데이터 분석직무에서 경쟁하는사람은 누구일까?
#      개발자가 아니고, 엑셀 ㅈㄴ 굴렸던 회사 내에 잔뼈굵은 사람임.