In [2]:
#2021.06.01. TUE
#Hankyeong

##CH04-5. 데이터프레임 인덱스 조작
#00. 패키지 호출
import numpy as np
import pandas as pd 

#01. set_index() 메서드를 통해 특정 열의 이름을 인덱스로 지정하기. 
np.random.seed(2021)
df1 = pd.DataFrame(np.vstack([list('ABCDE'),
                              np.round(np.random.rand(3, 5), 2)]).T,
                   columns=["C1", "C2", "C3", "C4"])
df1

  C1    C2    C3    C4
0  A  0.61  0.13   0.1
1  B  0.73  0.18  0.06
2  C  0.14  0.75  0.96
3  D  0.31  0.66  0.62
4  E   1.0  0.78  0.09

In [4]:
df2 = df1.set_index("C1")
df2

      C2    C3    C4
C1
A   0.61  0.13   0.1
B   0.73  0.18  0.06
C   0.14  0.75  0.96
D   0.31  0.66  0.62
E    1.0  0.78  0.09

In [ ]:
#02. reset_index() 메서드를 이용해 인덱스를 보통의 자료열로 변환하기.

In [24]:
df2.reset_index()

  C1    C2    C3    C4
0  A  0.61  0.13   0.1
1  B  0.73  0.18  0.06
2  C  0.14  0.75  0.96
3  D  0.31  0.66  0.62
4  E   1.0  0.78  0.09