In [1]:
#2021.06.01. TUE
#Hankyeong

#CH04-1. 판다스(Pandas) 데이터 분석
#00. 패키지 호출
import pandas as pd

#01. 판다스의 특징
#(1) R에서 데이터 프레임의 변수(열, 벡터, 1차원 데이터)을 python에서는 seriese라고 부름
# series 여러개가 데이터 프레임으로 만들어짐.

#(2) series는 넘파이의 1차원 어레이과 유사하나 rownames을 지을 수 있음. 여서는 (index 네임?)

#(3) 멀티 인덱스 여러 범주로 할 수 있음

#02. Series Class
#(1) 시리즈 생성하기. 
s= pd.Series([9904312, 3448737, 2890451, 2466052],
             index=["서울","부산","인천","대구"])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [2]:
#(2) 시리즈 인덱스 참조하기. 
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [3]:
#(3) 시리즈 밸류(값) 참조하기.
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [4]:
#(4) 시리즈의 이름, 인덱스 이름 지정하기.
s.name="인구"
s.index.name="도시"
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [13]:
#(5) 시리즈 연산하기.
s / 1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

In [5]:
#(6) 시리즈 인덱싱하기.  
s[0], s["서울"]

(9904312, 9904312)

In [15]:
#(7) 배열 인덱싱을 통해 부분 인덱싱이 가능함.
s[[0,2]]

도시
서울    9904312
인천    2890451
Name: 인구, dtype: int64

In [6]:
s[["부산","대구"]]

도시
부산    3448737
대구    2466052
Name: 인구, dtype: int64

In [7]:
#(8) 시리즈 슬라이싱하기. 
s[1:3]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [8]:
#PLUS. 문자열 라벨을 이용하기.  
s["부산":"대구"]

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [9]:
#(9) 불린 인덱싱하기. 
s[s<3000000]

도시
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [10]:
#TIP. .(dot)을 이용한 편리한 인덱싱하기. 
s.서울

9904312

In [15]:
#03. 시리즈와 딕셔너리 자료형 비교하기. 
#(1) 시리즈 객체는 라벨 값에 의해 인덱싱이 가능하므로 실질적으로 인덱스 라벨 값을 키(key)로 가지는 딕셔너리 자료형과 같다고 볼 수 있다.
for k,v in s.items() :
    print(f"{k} = {v}")

서울 = 9904312
부산 = 3448737
인천 = 2890451
대구 = 2466052

In [25]:
#(2) 딕셔너리 구조로 시리즈를 만들 수 있음.  
fruits = {"apple":1000,"banana":2000,"cherry":3000}
f = pd.Series(fruits)
f

apple     1000
banana    2000
cherry    3000
dtype: int64

In [16]:
#04. Dataframe Class
#(1) 데이터프레임 만들기. 
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
df = pd.DataFrame(data)
df

      2015     2010     2005     2000   지역  2010-2015 증가율
0  9904312  9631482  9762546  9853972  수도권         0.0283
1  3448737  3393191  3512547  3655437  경상권         0.0163
2  2890451  2632035  2517680  2466338  수도권         0.0982
3  2466052  2431774  2456016  2473990  경상권         0.0141

In [19]:
#(2) 행 인덱스 지정하기. 
df.index=["서울","부산","인천","대구"]
df

특성     2015     2010     2005     2000   지역  2010-2015 증가율
서울  9904312  9631482  9762546  9853972  수도권         0.0283
부산  3448737  3393191  3512547  3655437  경상권         0.0163
인천  2890451  2632035  2517680  2466338  수도권         0.0982
대구  2466052  2431774  2456016  2473990  경상권         0.0141

In [20]:
#(3) 행 인덱스 이름, 열 인덱스 이름 주기
df.index.name="도시"
df.columns.name ="특성"
df

특성     2015     2010     2005     2000   지역  2010-2015 증가율
도시
서울  9904312  9631482  9762546  9853972  수도권         0.0283
부산  3448737  3393191  3512547  3655437  경상권         0.0163
인천  2890451  2632035  2517680  2466338  수도권         0.0982
대구  2466052  2431774  2456016  2473990  경상권         0.0141

In [23]:
#(4) 열 인덱싱하기.
df["지역"]

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [24]:
df.지역

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [25]:
#PLUS. 리스트 형식으로 인덱싱하면 프레임으로 반환함.
df[["지역"]]

특성   지역
도시
서울  수도권
부산  경상권
인천  수도권
대구  경상권

In [34]:
#PLUS. 열의 인덱스 번호로 호출하면 에러남. 
df[0]

TypeError: '(slice(None, 1, None), slice(None, None, None))' is an invalid key

In [27]:
#PLUS. 여러 원소 인덱싱하기.
df[["2015","2010"]]

특성     2015     2010
도시
서울  9904312  9631482
부산  3448737  3393191
인천  2890451  2632035
대구  2466052  2431774

In [28]:
#(5) 파생 변수 추가하기.
df["temp"]=[1,2,3,4]
df

특성     2015     2010     2005     2000   지역  2010-2015 증가율  temp
도시
서울  9904312  9631482  9762546  9853972  수도권         0.0283     1
부산  3448737  3393191  3512547  3655437  경상권         0.0163     2
인천  2890451  2632035  2517680  2466338  수도권         0.0982     3
대구  2466052  2431774  2456016  2473990  경상권         0.0141     4

In [29]:
#(6) 변수 지우기.
del df["temp"]
df

특성     2015     2010     2005     2000   지역  2010-2015 증가율
도시
서울  9904312  9631482  9762546  9853972  수도권         0.0283
부산  3448737  3393191  3512547  3655437  경상권         0.0163
인천  2890451  2632035  2517680  2466338  수도권         0.0982
대구  2466052  2431774  2456016  2473990  경상권         0.0141

In [26]:
#(5) 전치(Transepose)화 하기.
df.T

도시                  서울       부산       인천       대구
특성
2015           9904312  3448737  2890451  2466052
2010           9631482  3393191  2632035  2431774
2005           9762546  3512547  2517680  2456016
2000           9853972  3655437  2466338  2473990
지역                 수도권      경상권      수도권      경상권
2010-2015 증가율   0.0283   0.0163   0.0982   0.0141

In [40]:
#(6) 행 인덱싱하기: 무조건 슬라이싱으로 처리해야함.
df[:1]

특성     2015     2010     2005     2000   지역  2010-2015 증가율
도시
서울  9904312  9631482  9762546  9853972  수도권         0.0283

In [36]:
df["서울":"부산"]

특성     2015     2010     2005     2000   지역  2010-2015 증가율
도시
서울  9904312  9631482  9762546  9853972  수도권         0.0283
부산  3448737  3393191  3512547  3655437  경상권         0.0163

In [41]:
#(7) 개별 데이터 인덱싱: 데이터프레임은 열 먼저 인덱싱 후 행을 출력해야함.
df["지역"]["서울"]

'수도권'

In [38]:
df["지역"][0]

'수도권'

In [76]:
df.지역[1]

'경상권'