In [1]:
#2021.06.01. TUE
#Hankyeong

#CH04-3. 데이터프레임의 고급 인덱싱
#00. 패키지 호출
import pandas as pd 
import numpy as np 

#01. loc 인덱서
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["a", "b", "c"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [2]:
#(1) 인덱싱하기. 
df.loc['a']

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [ ]:
#MEMO, 인덱싱하면 시리즈로 나옴.

In [3]:
#(2) 슬라이싱하기. 
df.loc["a":"b"]

    A   B   C   D
a  10  11  12  13
b  14  15  16  17

In [5]:
df.loc["b":,"C":]

    C   D
b  16  17
c  20  21

In [4]:
#MEMO, 슬라이싱하면 데이터 프레임으로 반환함. 단, 이는 loc 메서드를 사용하지 않아도 됨.
df["a":"b"]

    A   B   C   D
a  10  11  12  13
b  14  15  16  17

In [16]:
#(3) 불린형 인덱싱하기. 
df.loc[df.A > 15]

    A   B   C   D
c  18  19  20  21

In [18]:
#(4) 개별값 인덱싱하기. 
df.loc["c","D"]

21

In [20]:
df["D"]["c"]

21

In [8]:
#02. iloc 인덱서
#(1) 인덱싱하기. 
df.iloc[0]

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [9]:
df.iloc[0,0]

10

In [29]:
df.iloc[-1,-1]

21

In [6]:
#(2) 슬라이싱하기. 
df.iloc[1:, 2:]

    C   D
b  16  17
c  20  21

In [ ]:
#MEMO, 넘파이 패키지의 인덱싱방법과 비슷함.