In [79]:
#2021.06.17. THUR
#Hankyeong

##CH01. 사이킷런 기초 
#00. 패키지 호출
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pandas as pd

#01. iris 데이터셋 불러오기. 
iris = load_iris()
#(1) Feature 데이터의 행,열 구성(shape) 확인하기. 
iris.data.shape

(150, 4)

In [10]:
#(2) Feature 데이터의 열(변수) 이름 확인하기.
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [13]:
#(3) Target 데이터의 행 갯수 확인하기.
iris.target.shape

(150,)

In [15]:
#(4) Target 데이터의 분류값 확인하기.
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [17]:
#(5) iris데이터 설명 확인하기. 
print(iris.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [10]:
#PLUS. iris 데이터셋을 데이터프레임으로 변환하기. 
df_iris = pd.DataFrame(iris.data, columns=iris.feature_names)
df_iris['species'] = iris.target
df_iris

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [70]:
#02. iris 데이터셋을 train, test 데이터셋으로 분할하기. 
#(1) 분할하기. 
X_train, X_test, y_train, y_test = train_test_split(
    iris.data, iris.target, test_size=0.2
)

In [ ]:
#PLUS. 일반적으로 변수를 명명할 때는, 2차원 이상(matrix)일 경우 변수를 대문자로 정의, 1차원(scalar 묶음?)일 경우 소문자로 정의함.

In [71]:
#(2) 분할이 잘 됐는지 검증하기.  
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((120, 4), (120,), (30, 4), (30,))

In [72]:
#03. Decision Tree(의사결정나무) 모델 적용해 학습하고 모형 평가하기. 
#(1) 객체(=모델) 생성하기.
dt_clf= DecisionTreeClassifier()

#(2) train 데이터셋으로 학습 수행하기. 
dt_clf.fit(X_train, y_train)

DecisionTreeClassifier()

In [ ]:
#PLUS. 모델에 적용되는 파라미터는 하이퍼파라메터(Hyper Parameter)라고 정의함.

In [73]:
#(3) test 데이터셋으로 예측 수행하기.
dt_pred = dt_clf.predict(X_test)
dt_pred

array([2, 0, 1, 0, 2, 2, 1, 0, 0, 1, 1, 2, 1, 2, 1, 1, 1, 2, 0, 0, 1, 2,
       1, 0, 1, 2, 1, 0, 0, 0])

In [74]:
#(4) 예측된 값으로 모델의 정확도 평가하기. 
accuracy_score(y_test,dt_pred)

0.9

In [75]:
#OR
dt_clf.score(X_test,y_test)

0.9

In [76]:
#04. Support Vector Machine 모델 적용해 학습하기. 
#(1) 객체 생성하기.
svm_clf = SVC(random_state=2021)

#(2) 학습 수행하기.
svm_clf.fit(X_train,y_train)

SVC(random_state=2021)

In [77]:
#(3) test 데이터셋으로 예측 수행하기.
svm_pred = svm_clf.predict(X_test)
svm_pred

array([2, 0, 1, 0, 2, 2, 1, 0, 0, 1, 1, 2, 1, 2, 1, 1, 1, 2, 0, 0, 1, 2,
       2, 0, 1, 2, 1, 0, 0, 0])

In [78]:
#(4) 예측된 값으로 모델의 정확도 평가하기. 
svm_clf.score(X_test, y_test)

0.9333333333333333

In [80]:
#05. Logistic Regression(로지스틱 회귀) 모델 적용해 학습하기. 
#(1) 객체 생성하기.
lr_clf = LogisticRegression()

#(2) 학습 수행하기. 
lr_clf.fit(X_train, y_train)

LogisticRegression()

In [82]:
#(3) test 데이터셋으로 예측 수행하기.
lr_pred = lr_clf.predict(X_test)

In [83]:
#(4) 예측된 값으로 모델의 정확도 평가하기. 
lr_clf.score(X_test, y_test)

0.9

In [84]:
#06. 실제값과 각 모델들의 예측값 비교하기. 
pred_df = pd.DataFrame({
    '실제값': y_test, 'Decision Tree': dt_pred,
    'SVM': svm_pred, 'Logistic Regression': lr_pred
})
pred_df

    실제값  Decision Tree  SVM  Logistic Regression
0     2              2    2                    2
1     0              0    0                    0
2     1              1    1                    1
3     0              0    0                    0
4     2              2    2                    2
5     2              2    2                    2
6     1              1    1                    1
7     0              0    0                    0
8     0              0    0                    0
9     1              1    1                    1
10    1              1    1                    1
11    2              2    2                    2
12    1              1    1                    1
13    2              2    2                    2
14    1              1    1                    1
15    1              1    1                    1
16    1              1    1                    1
17    2              2    2                    2
18    0              0    0                    0
19    0              0    0                    0
20    1              1    1                    1
21    2              2    2                    2
22    2              1    2                    1
23    0              0    0                    0
24    2              1    1                    1
25    1              2    2                    2
26    1              1    1                    1
27    0              0    0                    0
28    0              0    0                    0
29    0              0    0                    0